<h2>
  Search reasult for "<%= params[:query] %>"
</h2>
<br>
<div class="list-group-one">
  <% @results.each do |bar| %>
    <li class="list-group-item">
      <%= link_to bar.name %> <br>
      <%= bar.address %>
    </li>
    <br>
  <% end %>
</div>
<br>
<%= link_to "Back", bars_path %>
