<h2>Create an Account</h2>

<% if flash[:errors] %>
<strong>Please correct the following errors:</strong>
<ol>
  <% flash[:errors].each do |e| %>
  <li><%= e %></li>
  <% end %>
</ol>
<% end %>

<%= render partial: "form" %>
