/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.

 *= require_self
 *= require_tree .
 */
 @import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Frijole|Permanent+Marker');

h1 {
  font-family: 'Frijole', cursive;
  font-size: 50px;
}

body {
  position: relative;
}

body:after {
  background: url("background.jpg");
  background-position: contain;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity : 0.2;
  z-index: -1;
}

.transparent {
	background-color:transparent !important;
	border-color:transparent;
	background-image:none;
	box-shadow:none;
}

h2, h4, h5,span {
 font-family: 'Permanent Marker', cursive;
}

.buttonFont {
  font-size: 10px;
}


.form {
  text-align: center;
}

 * {
   box-sizing: border-box;
 }


ul, li{
  list-style: none;
  padding-left: 0px;
}

.userImage {
  width: 100%;
}

.dropdown-menu {
  padding: 10px;
  min-width: 15rem !important;
  }


.emailDisplay {
  margin-bottom: 20px;
}

.settingButton {
  margin-top: 10px;
}

.redirect{
  font-size: 12px;
}

#selectWarning {
  color: orange;
  font-weight: bold;
  display: none;
}

.footer {
  font-size: 10px;
}

.form-control, one {
  width: 300px;
}

.error {
  color:rgba(162, 16, 16,0.6);
}
