// Place all the styles related to the Bars controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#map {
  height: 60%;
  width: 60%;
  margin: auto;
  overflow: hidden !important;
}
/* Optional: Makes the sample page fill the window. */
