


.bars {
  text-align: center;
  margin-bottom:40px;
}

.commentsBox {
  font-size: 12px;
}

.searchBar {
  text-align: center;
  margin-bottom: 50px;
}

.searchText {
  margin-bottom: 10px;
}

.barImage {
  width: 100%;
  text-align: center;
  vertical-align: bottom;
}

.cocktailDrinks {
  border: 1px solid grey;
}

#map {
  height: 30vw;
  width: 80vh;
  margin: auto;
  overflow: hidden !important;
}

.control {
  float:right;
}

.list-group-one {
  width: 500px;
}
